  .page1 {
    background-image: url('images/Imagery 1.png');
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, 
    Verdana, sans-serif;
  }

  .page2 {
    background-image: url('images/Imagery 2.png');
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, 
    Verdana, sans-serif;
  }

  .kubusbutton {
    position: fixed;
    padding: 0px 0px;
    top: 80px;
    left: 250px;
  }

  .balokbutton {
    position: fixed;
    padding: 0px 0px;
    top: 80px;
    left: 550px;
  }

  .bolabutton {
    position: fixed;
    padding: 0px 0px;
    top: 80px;
    left: 860px;
  }

  .kotakicon {
    position: fixed;
    top: 80px;
    right: 250px;
  }

  .kotaklogo {
    position: fixed;
    top: 250px;
    left: 380px;
    width: 20%;
    height: auto;
  }

  .kubustext{
    position: fixed;
    color: white;
    font-size: 80px;
    font-weight: 800;
    top: 180px;
    left: 900px;
  }

  .kubustext2{
    position: fixed;
    color: white;
    font-size: 20px;
    font-weight: lighter;
    top: 340px;
    left: 840px;
  }

  .kubuskeliling {
    position: fixed;
    padding: 0px 0px;
    top: 500px;
    left: 910px;
  }

  .kubusluas {
    position: fixed;
    padding: 0px 0px;
    padding-left: 30px;
    padding-right: 30px;
    top: 500px;
    left: 1130px;
  }

  .kubusvolume {
    position: fixed;
    padding: 0px 0px;
    top: 500px;
    left: 1360px;
  }

  .luaskubuspenjelasan {
    position: fixed;
    top: 210px;
    right: 200px;
    width: 35%;
    height: auto;
  }

  .textbg {
    position: fixed;
    top: 470px;
    left: 245px;
    width: 600px;
    height: 150px;
    background-color:white;
    color: rgb(100, 131, 187);
    padding-left: 10px;
    display: flex;
    align-items: right;
    justify-content: left;
    font-size: 130px;
    font-weight: bolder;
    text-align: right;
  }

  .luastitle {
    position: fixed;
    left: 232px;
    top: 50px;
    color: rgb(100, 131, 187);
    font-size: 150px;
    font-weight: bolder;
  }

  .luaskubuspenjelasan2 {
    position: fixed;
    left: 156px;
    top: 350px;
    color: white;
    font-size: 20px;
    font-weight: lighter;
  }

  .luaskubuspenjelasan3 {
    position: fixed;
    left: 156px;
    top: 630px;
    color: white;
    font-size: 20px;
    font-weight: lighter;
  }